@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  border: 0;
  padding: 0;
  font-family: 'Montserrat', serif;
  font-optical-sizing: auto;
  scroll-behavior: smooth;
  box-sizing: border-box;
  user-select: none;
}

:root {
  --bg-color: #ffffff;
  --text-color: #22100d;
  --second-color: #685f78;
  --main-color: #f66962;
  --big-font: 3.8rem;
  --h2-font: 2.6rem;
  --p-font: 1.1rem;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}
header {
  width: 100%;
  right: 0;
  top: 0;
  z-index: 111111;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: transparent;
  padding: 23px 6%;
  transition: all 0.4s ease;
}
header.sticky {
  position: fixed !important;
  background-color: var(--bg-color);
  padding: 12px 7%;
  box-shadow: 0px 4px 15px rgb(0 0 0 / 8%);
}

.logo img {
  height: auto;
  width: 200px;
  max-width: 100%;
}
.navbar {
  display: flex;
}
.header-icons {
  align-items: center;
  display: flex;
}
.navbar li,
a {
  list-style: none;
  text-decoration: none;
  color: var(--text-color);
  font-weight: 600;
  font-size: var(--p-font);
  padding: 10px 10px;
  transition: all 0.4s ease;
}
.navbar li a:hover {
  color: var(--main-color);
}
.header-icons i {
  font-size: 24px;
  color: var(--text-color);
  transition: all 0.4s ease;
}
.header-icons i:hover {
  transform: scale(1.2);
  color: var(--main-color);
}
#menu {
  font-size: 34px;
  color: var(--text-color);
  z-index: 10001;
  cursor: pointer;
  display: none;
}
section {
  padding: 80px 13%;
}
.home {
  position: relative;
  height: 100vh;
  width: 100%;
  background: url(../public/assets/images/Untitled_design.png);
  background-size: cover;
  background-position: center;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
  align-items: center;
}
.home-text h1 {
  font-size: var(--big-font);
  margin: 15px 0 15px;
}
.home-text h6 {
  color: var(--main-color);
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 2px;
}
.home-text p {
  color: var(--second-color);
  font-size: var(--p-font);
  font-weight: 500;
  margin-bottom: 48px;
}
.latter {
  width: 100%;
  max-width: 460px;
  position: relative;
}

.latter form input:first-child {
  display: inline-block;
  width: 100%;
  outline: none;
  padding: 16px 140px 16px 15px;
  border: 2px solid var(--main-color);
  border-radius: 30px;
}
.latter form input:last-child {
  position: absolute;
  display: inline-block;
  border: none;
  outline: none;
  background: var(--main-color);
  color: var(--bg-color);
  padding: 16px 40px;
  border-radius: 30px;
  cursor: pointer;
  top: 2px;
  right: 1px;
}
.home-img img {
  height: auto;
  width: 100%;
}

/* End Home Section */

.container {
  padding: 70px 13%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  gap: 1.5rem;
  align-items: center;
  cursor: pointer;
}

.container-box {
  display: flex;
  align-items: center;
  gap: 1.8rem;
  border: 1px solid #e9ecef;
  border-radius: 20px;
  padding: 20px 30px;
  box-shadow: -11.729px -11.729px -11.729px 32px rgb(255 255 255 / 15%);
  transition: all 0.4s ease;
  background-color: rgb(255, 255, 255);
}
.container-box:hover {
  transform: translateY(-15px);
}
.container-box .container-img {
  width: 120px;
}
.container-text h4 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 4px;
}
.container-text p {
  font-size: var(--p-font);
  color: var(--second-color);
  font-weight: 500;
}

.center-text {
  text-align: center;
}
.center-text h5 {
  color: var(--main-color);
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
  margin-bottom: 20px;
}

.center-text h2 {
  font-size: var(--h2-font);
  line-height: 1.2;
}
.box img {
  width: 120px;
  height: 120px;
  border: rgba(175, 142, 142, 0.5) solid 2px;
  border-radius: 30%;
  padding: 0.5rem;
}
.categories-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(1 1fr);
  gap: 1.5rem;
  align-items: center;
  cursor: pointer;
  text-align: center;
  margin-top: 4rem;

}

.box img {
  height: auto;
  width: 110px;
  margin-bottom: 20px;
}

.box {
  padding: 25px 60px;
  border: 1px solid #ffffff;
  background-color: #ffffff;
  border: 1px solid #e9ecef;
  border-radius: 20px;
  padding: 20px 30px;
  box-shadow: -11.729px -11.729px -11.729px 32px rgba(255, 255, 255);
  transition: all 0.4s ease;
}
.box:nth-child(1) {
  grid-area: 1 / 1 / 2 / 4;
}
.box:nth-child(2) {
  grid-area: 1 / 4 / 2 / 7;
}
.box:nth-child(3) {
  grid-area: 1 / 7 / 2 / 10;
}
.box:nth-child(4) {
  grid-area: 1 / 10 / 2 / 13;
}
.box:hover {
  transform: translateY(-15px);
}
.box:hover h3 {
  color: var(--main-color);
}
.box h3 {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 30px;
  line-height: 1.3;
  transition: all 0.4s ease;
}

.box p {
  font-size: var(--p-font);
  color: var(--second-color);
  font-weight: 500;
}
.main-btn {
  text-align: center;
  margin-top: 5rem;
}

.btn {
  --color: #00a97f;
  padding: 0.8em 1.7em;
  background-color: transparent;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 0.5s;
  font-weight: 400;
  font-size: 17px;
  border: 1px solid var(--main-color);
  font-family: inherit;
  text-transform: uppercase;
  color: var(--color);
  z-index: 1;
}

.btn::before {
  content: '';
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: var(--main-color);
  transition: 0.8s ease;
}

.btn::before {
  top: -1em;
  left: -1em;
}

.btn:hover::before {
  height: 600px;
  width: 600px;
}

.btn:hover a {
  color: rgb(255, 255, 255);
}

.btn:active {
  filter: brightness(0.8);
}

.courses {
  background: url(../public/assets/images/Untitled_design.png);
  background-position: center;
  background-size: cover;
}
.row img {
  width: 100%;
  height: 320px;
  object-fit: cover;
  border-radius: 15px 15px 0px 0px;
}
.row a{
  padding: 0;
}
.courses-content {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 2rem;
  margin-top: 4rem;
}
.row:nth-child(1) {
  grid-area: 1 / 1 / 5 / 3;
}
.row:nth-child(2) {
  grid-area: 1 / 3 / 5 / 5;
}
.row:nth-child(3) {
  grid-area: 1 / 5 / 5 / 7;
}

.row {
  background: var(--bg-color);
  border-radius: 20px;
  box-shadow: 0px 5px 40px rgb(19, 8, 73 / 13%);
  transition: all 0.4s ease;
}
.row:hover {
  transform: translateY(-15px);
}

.course-text {
  padding: 35px 20px;
}
.course-text h5 {
  color: var(--main-color);
  font-size: 18px;
  font-weight: 700;
}
.course-text h3 {
  font-size: 24px;
  font-weight: 700;
  line-height: 34px;
  margin: 15px 0 15px;
  transition: all 0.4s ease;
}
.course-text h3:hover {
  color: var(--main-color);
}
.course-text h6 {
  color: #696969;
  font-size: var(--p-font);
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
  margin-bottom: 30px;
}
.heart {
  position: relative;
  float: right;
  margin-right: 15px;
  cursor: pointer;
  transition: all 0.2s ease;
}
.lucide-heart:hover {
  fill: #f66962;
  color: #f66962;
}
.lucide-shopping-cart:hover {
  color: rgb(58, 155, 168);
  fill: rgb(58, 155, 168);
}
.about-img img {
  filter: drop-shadow(x rgba(0, 0, 0, 0.4));
}

.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  align-items: center;
}
.about-text h2 {
  font-size: var(--h2-font);
  line-height: 1.2;
  margin-bottom: 20px;
}
.about-text p {
  font-size: var(--p-font);
  color: var(--second-color);
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 30px;
}
.about-text h4 {
  font-size: 20px;
  margin-bottom: 10px;
}
.about-text h5 {
  font-size: 20px;
  margin-bottom: 40px;
}
.contact {
  padding: 60px 13%;
  background: var(--bg-color);
}

.main-contact {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, auto));
  gap: 2rem;
}
.contact-content {
  height: auto;
  width: 200px;
  max-width: 100%;
  margin-bottom: 30px;
}
.contact-content > img {
  width: 100%;
}
.contact-content li {
  list-style-type: none;
}
.contact-content li a {
  display: block;
  color: var(--text-color);
  font-weight: 600;
  font-size: 15px;
  transition: all 0.4s ease;
}
.contact-content li a:hover {
  transform: translateX(10px);
  color: var(--main-color);
}
.footer p {
  text-align: center;
  padding: 18px;
  color: var(--second-color);
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
}

@media (max-width: 1410px) {
  header {
    padding: 10px 3%;
    transition: 0.2s;
  }
  header.sticky {
    padding: 10px 2%;
    transition: 0.2s;
  }
  section {
    padding: 70px 3%;
    transition: 0.2s;
  }
  .container {
    padding: 70px 3%;
    transition: 0.2s;
  }
  .contact {
    padding: 60px 3%;
    transition: 0.2s;
  }
  .home-img img {
    height: auto;
    width: 80%;
  }
}

@media (max-width: 1050px) {
  :root {
    --big-font: 3.2rem;
    --h2-font: 2rem;
    --p-font: 1rem;
    transition: 0.4s;
  }
  .home {
    height: 80vh;
  }
}
@media (max-width: 1025px) {
  #menu {
    display: block;
  }

  .navbar a {
    display: none;
    margin: 1.3rem 0;
  }

  .home-img img {
    height: auto;
    width: 80%;
  }
  .categories-container {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  .box:nth-child(1) {
    grid-area: 1 / 1 / 3 / 3;
  }
  .box:nth-child(2) {
    grid-area: 1 / 3 / 3 / 5;
  }
  .box:nth-child(3) {
    grid-area: 3 / 1 / 5 / 3;
  }
  .box:nth-child(4) {
    grid-area: 3 / 3 / 5 / 5;
  }
  .Icons-cont .container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 20px;
  }

  #div1 {
    grid-area: 1 / 1 / 3 / 4;
  }
  #div2 {
    grid-area: 1 / 4 / 3 / 7;
  }
  #div3 {
    grid-area: 3 / 2 / 5 / 6;
  }
  .courses-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(9, 1fr);
  }
  .row:nth-child(1) {
    grid-area: 1 / 1 / 4 / 4;
  }
  .row:nth-child(2) {
    grid-area: 4 / 1 / 7 / 4; 
  }
  .row:nth-child(3) {
    grid-area: 7 / 1 / 10 / 4; 
  }
}
@media (max-width: 890px) {
  .home {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .home-text {
    padding-top: 20px;
  }
  .home-img {
    text-align: center;
  }
  .home-img img {
    height: auto;
    width: 60%;
  }
  .about {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
@media (max-width: 600px) {
  .home {
    height: 120vh;
  }
  .categories-container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }
  .Icons-cont .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 40px;
    grid-row-gap: 20px;
  }

  #div1,
  .box:nth-child(1) {
    grid-area: 1 / 1 / 3 / 4;
  }
  #div2,
  .box:nth-child(2) {
    grid-area: 3 / 1 / 5 / 4;
  }
  #div3,
  .box:nth-child(3) {
    grid-area: 5 / 1 / 7 / 4;
  }
  .box:nth-child(4) {
    grid-area: 7 / 1 / 9 / 3;
  }
}
@media (max-width: 375px) {
  .row {
    width: 95%;
  }
  .box:nth-child(3),.box:nth-child(4){
    display: none;
  }
  .main-contact {
    grid-template-columns: none;
  }

    .form-container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: flex-start; /* Align it properly */
        justify-content: center;
        overflow-y: auto; /* Enable scrolling */
    }
  
    .form-box {
        width: 95%; /* Make sure it fits small screens */
        max-width: 90%;
        padding: 10% !important;
    }
  
  
}
